* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #848789;
  max-width: 1600px;
  overflow-x: hidden;
  line-height: 2;
  font-family: "Lato Regular";
  margin: 0 auto;
  font-size: 16px;
}

p {
  margin: 0;
}

.article {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.article h2 {
  text-transform: uppercase;
  font-family: "Lato Bold";
  font-size: 18px;
  color: #353638;
}

.top {
  position: relative;
  background-image: url("../img/top.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Lato Bold";
}
.top .logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about_us {
  padding: 100px 0;
  background-color: #f7f7f7;
}
.about_us .article p {
  font-size: 18px;
}

.bike1-img {
  position: relative;
  width: 62.5%;
}
.bike1-text {
  width: 37.5%;
}
