@import vars

*
	box-sizing: border-box

body
	background-color: $white
	color: $gray
	max-width: 1600px
	overflow-x: hidden
	line-height: 0
	font-family: "Lato Regular"
	margin: 0 auto
	font-size: 16px

p,h1,h2,h3,h4,h5,h6,a 
	line-height: 1

p
	margin: 0
	line-height: 2

.img-fluid
	width: 100%
	height: auto

.article
	position: relative
	max-width: 1000px
	padding-bottom: 20px
	margin: 0 auto
	text-align: center
	h2
		text-transform: uppercase
		font-family: "Lato Bold"
		font-size: 18px
		color: $gray-dark
	p
		font-size: 16px
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		width: 50px
		height: 1px
		background-color: $gray

.top
	position: relative
	background-image: url("../img/top.jpg")
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	font-family: "Lato Bold"
	.logo
		position: absolute
		z-index: 1
		left: 50%
		top: 35px
		transform: translateX(-50%)

.about_us
	padding: 100px 0
	background-color: $gray-light
	.article p
		font-size: 18px

.bike1
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	flex-wrap: wrap
	&-img
		position: relative
		width: 66.6%
		&-logo
			position: absolute
			top: 50%
			left: 50%
			transform: translateX(-50%) translateY(-50%)
	&-text
		width: 33.3%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: space-between
		.article
			width: 400px
			margin: 0 auto
			margin-top: 50px
			@media screen and (max-width: 1300px)
				margin-top: 20px
			p
				text-align: left	
		.article-img
			position: relative
			&::before
				content: ""
				position: absolute
				z-index: 2
				top: 0
				left: 50%
				transform: translateX(-50%)
				width: 20px
				height: 10px
				background-image: url("../img/article_arrow.png")	
				background-repeat: no-repeat
				background-position: center

.bike3
	.bike1-img
		width: 33.3%
	.icon
		max-height: 32px

.swipe
	padding: 100px 0
	.slick-dots button
		background-image: url("../img/Ellipse.png")
		background-repeat: no-repeat
		background-position: center
	.slick-active button
		background-image: url("../img/Ellipse_active.png")
	.slick-dots li button::before
		content: ""
	.slide .article
		h2
			font-family: "Lato Light"
			text-transform: none
			font-size: 18px
			span
				color: $gray
		p
			font-family: "Lato Italic" 
			font-size: 24px
			line-height: 1.5
		.icon
			display: inline-block
			max-height: 32px
		&:after
			display: none

.gallery
	width: 100%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	&-left, &-center, &-right
		width: 33.3%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	&-left
		flex-direction: column
	&-block
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
	&-center
		flex-direction: row
		img
			width: 50%
	&-right
		flex-direction: column
		