* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #848789;
  max-width: 1600px;
  overflow-x: hidden;
  line-height: 0;
  font-family: "Lato Regular";
  margin: 0 auto;
  font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6, a {
  line-height: 1;
}

p {
  margin: 0;
  line-height: 2;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.article {
  position: relative;
  max-width: 1000px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}
.article h2 {
  text-transform: uppercase;
  font-family: "Lato Bold";
  font-size: 18px;
  color: #353638;
}
.article p {
  font-size: 16px;
}
.article:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 1px;
  background-color: #848789;
}

.top {
  position: relative;
  background-image: url("../img/top.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Lato Bold";
}
.top .logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about_us {
  padding: 100px 0;
  background-color: #f7f7f7;
}
.about_us .article p {
  font-size: 18px;
}

.bike1 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bike1-img {
  position: relative;
  width: 66.6%;
}
.bike1-img-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.bike1-text {
  width: 33.3%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bike1-text .article {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}
@media screen and (max-width: 1300px) {
  .bike1-text .article {
    margin-top: 20px;
  }
}
.bike1-text .article p {
  text-align: left;
}
.bike1-text .article-img {
  position: relative;
}
.bike1-text .article-img::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20px;
  height: 10px;
  background-image: url("../img/article_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}

.bike3 .bike1-img {
  width: 33.3%;
}
.bike3 .icon {
  max-height: 32px;
}

.swipe {
  padding: 100px 0;
}
.swipe .slick-dots button {
  background-image: url("../img/Ellipse.png");
  background-repeat: no-repeat;
  background-position: center;
}
.swipe .slick-active button {
  background-image: url("../img/Ellipse_active.png");
}
.swipe .slick-dots li button::before {
  content: "";
}
.swipe .article h2 {
  font-family: "Lato Light";
  text-transform: none;
  font-size: 18px;
}
.swipe .article h2 span {
  color: #848789;
}
.swipe .article p {
  font-family: "Lato Italic";
  font-size: 24px;
  line-height: 1.5;
}
.swipe .article .icon {
  display: inline-block;
  max-height: 32px;
}
.swipe .article:after {
  display: none;
}

.gallery {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.gallery-left, .gallery-center, .gallery-right {
  width: 33.3%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery-block {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.gallery-center {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.gallery-center .img-wrap {
  width: 50%;
}
.gallery-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery .img-wrap {
  position: relative;
  width: 100%;
}
.gallery .img-wrap-active {
  background-color: rgba(100, 194, 158, 0.8);
}
.gallery .img-wrap-cover {
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  height: 0;
}

.discover {
  padding: 50px 0;
  text-align: center;
  background-color: #282f35;
}
.discover .link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #848789;
}

.newsletter {
  text-align: center;
  padding: 100px 0;
}
.newsletter img, .newsletter form {
  margin-left: auto;
  margin-right: auto;
}
.newsletter h3 {
  color: #848789;
  font-size: 24px;
  font-family: "Lato Light";
  font-style: italic;
}
.newsletter input {
  padding: 10px;
  border: 1px solid #d3d7d9;
  font-family: "Lato Italic";
}
.newsletter button {
  font-family: "Lato Light";
  border: none;
  background-color: #64c29e;
  padding: 11px 30px;
  color: #ffffff;
}
