* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #848789;
  max-width: 1600px;
  overflow-x: hidden;
  line-height: 1.5;
  font-family: "Lato Regular";
  margin: 0 auto;
}

p {
  margin: 0;
}

.top {
  position: relative;
  background-image: url("../img/top.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top .logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
