@media screen and (max-width: 1200px) {
  .article h2 {
    font-size: 16px;
  }
  .article p {
    font-size: 14px;
    line-height: 1.5;
  }

  .about_us .article p {
    font-size: 16px;
  }

  .bike1 .article {
    margin-top: 10px;
    width: 280px;
  }
}
@media screen and (max-width: 920px) {
  .top {
    background-image: url("../img/top_small.jpg");
  }

  .about_us {
    padding: 50px 0;
  }

  .bike1-img, .bike1-text {
    width: 100%;
  }

  .bike1-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bike1-text .article {
    width: 45%;
  }
  .bike1-text .article-img {
    width: 50%;
  }
  .bike1-text .article-img:before {
    display: none;
  }

  .bike2 .article {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .bike2 .article-img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .bike3 .bike1-img {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .bike3 .bike3-img {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .bike3 .bike1-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .bike3 .bike1-text .article-img {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media screen and (max-width: 630px) {
  .top .logo {
    top: 20px;
  }

  .article h2 {
    font-size: 14px;
  }
  .article p {
    font-size: 12px;
  }

  .about_us .article p {
    font-size: 14px;
  }

  .bike1-text .article-img {
    display: none;
  }

  .bike1-text .article {
    width: 90%;
  }

  .bike2 .bike1-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .bike2 .bike1-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .bike3 .bike1-img {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .bike3 .bike1-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .bike3 .bike3-img {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .bike1-text .article {
    width: 90%;
  }
}
