@media screen and (max-width: 1200px)
	.article 
		h2
			font-size: 16px
		p
			font-size: 14px
			line-height: 1.5

	.about_us .article p 
		font-size: 16px

	.bike1 .article
		margin-top: 10px
		width: 280px


@media screen and (max-width: 900px)
	.top
		background-image: url("../img/top_small.jpg")
	.about_us
		padding: 50px 0
	.bike1-img, .bike1-text
		width: 100%
	.bike1-text
		flex-direction: row
		align-items: flex-start
		.article
			width: 45%
		.article-img
			width: 50%

	.bike2
		.article
			order: 2
		.article-img
			align-self: flex-end
			order: 1

@media screen and (max-width: 630px)
	.top .logo
		top: 20px
	.article
		h2
			font-size: 14px
		p
			font-size: 12px
	.about_us .article p
		font-size: 14px
	.bike1-text .article-img
		display: none
	.bike1-text .article
		width: 90%

	.bike2
		.bike1-text
			order: 2
		.bike1-img
			order: 1

@media screen and (max-width: 550px)
	.bike1-text .article
		width: 90%